# Swift / Xcode / SwiftPM
build/
DerivedData/
.swiftpm/
.build/
xcuserdata/
*.xcworkspace
*.xcuserstate
*.xcodeproj/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
.idea/
.vscode/
*.swp
*.tmp
*.old

# Logs
*.log

# Dependencies
/Pods
/Carthage

# Documentation
.docc-build/

# Generated
*.generated.swift
